.calendar_container {
	margin-top: 3rem;
	width: 100%;
	padding: 0 2rem;
}

.calendar_title {
	text-align: center;
    margin-bottom: 2rem;
    font-size: calc(var(--fs-h1) + 15px);
}

.calendar {
	/* border: 2px solid var(--clr-border-secondary); */
    padding: 10px;
	border-radius: 10px;
    border: var(--border-primary);
	background-color: var(--clr-bg-tertiary);
}

.calendar_header {
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 10px;
    gap: 3rem;
    margin-bottom: 5px;
	background-color: var(--clr-bg-secondary);
    border-radius: 10px 10px 0 0;
	border: var(--border-primary);
}

.calendar_month {
    min-width: 250px;
    text-align: center;
}

.calendar_header button {
	font-size: var(--fs-h6);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
	cursor: pointer;
    border: var(--btn-border-primary);
    background-color: var(--btn-bg-secondary);
    cursor: pointer;
    transition: var(--transition-default);
}

.calendar_header button:hover {
    background-color: var(--btn-bg-secondary-hover);
    border: var(--btn-border-hover);
    color: var(--clr-text-secondary);
}

.calendar_header button:active {
    border: var(--btn-border-active);
}



.calendar_grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border-collapse: collapse;
    gap: 3px;
}

.calendar_day {
	border: var(--border-primary);
	padding: 10px;
    height: 65px;
}

.days {
    font-weight: bold;
    font-size: var(--fs-h5);
    text-align: center;
}

.dates {
    font-size: var(--fs-h6);
    border: var(--border-primary);
}

.blank {
	visibility: hidden;
}
