.calendar-container {
	margin-top: 3rem;
	width: 100%;
	padding: 0 2rem;
}

.title {
	text-align: center;
    margin-bottom: 2rem;
}

.calendar {
	border: 2px solid var(--clr-border-secondary);
	border-radius: 10px;
	background-color: var(--clr-bg-primary);
}

.calendar-header {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 10px;
    gap: 3rem;
	background-color: var(--clr-bg-secondary);
	border-bottom: 2px solid var(--clr-border-secondary);
}

.calendar-header h1 {
	margin: 0;
}

.calendar-header button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border-collapse: collapse;
}

.calendar-day {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.blank {
	visibility: hidden;
}
