/* see index.css for variable values */

.home_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 10px;
    gap: 2rem;
}

aside {
    min-width: 200px;
    margin-top: 1rem;
    height: 100vh;
    background-color: var(--clr-bg-tertiary);
    border: var(--border-primary);
    border-radius: 0.5rem;
}

.events_items {
    display: flex;
    flex-direction: column;
    width: 100%;    
    padding-left: 0.5rem;
    margin-top: 2rem;
    gap: 1rem;    
}

.events_item {
    text-align: left;
}




section {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    margin-bottom: 1rem;
}


.image_gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image_gallery img {
    width: 250px;
    height: auto;
    border-radius: 1rem;
    border: var(--border-primary);
    box-shadow: var(--box-shadow-primary);
}

@media screen and (max-width: 992px){
    .image_gallery img {
        width: 200px;
        height: auto;
    }
}
